<h3> Edit Job </h3>

<%= form_with model: @job do |f| %>
  <%= f.label :title %> 
  <%= f.text_field :title %>
  <br/>
  <%= f.label :description %> 
  <%= f.text_area :description %>
  <br/>
  <%= f.label :company %> 
  <%= f.text_field :company %>
  <br/>
  <%= f.submit %>
<% end %>